.login--container{
display: flex;
flex-direction: column;
justify-content: center;
align-items:flex-end;
padding: 20px;
gap: 5px;
}

.login--container label{
    color: white;
    text-transform: capitalize;
    }

